<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KextsToPatch</key>
	<array>
		<dict>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Find</key>
			<data>eG1sLnps</data>
			<key>Replace</key>
			<data>em1sLnps</data>
			<key>Comment</key>
			<string>10.9/AppleHDA/Resources/xml&gt;zml</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Find</key>
			<data>ixnUEQ==</data>
			<key>Replace</key>
			<data>hQjsEA==</data>
			<key>Comment</key>
			<string>10.9/AppleHDA/Realtek ALC885 (Optional)</string>
		</dict>
	</array>
</dict>
</plist>
