<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Rename ALZA to HDEF</string>
					<key>Find</key>
					<data>QUxaQQ==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Boot</key>
	<dict/>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>1</string>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>GUI</key>
	<dict/>
	<key>Graphics</key>
	<dict/>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Find</key>
				<data>oIw=</data>
				<key>Replace</key>
				<data>II0=</data>
				<key>Comment</key>
				<string>10.10-10.11+x99-ALC-Onboard-Audio</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Find</key>
				<data>IIw=</data>
				<key>Replace</key>
				<data>II0=</data>
				<key>Comment</key>
				<string>10.9.4-10.9.5-x99-ALC-Onboard-Audio</string>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3</string>
	</dict>
	<key>SMBIOS</key>
	<dict/>
	<key>SystemParameters</key>
	<dict/>
</dict>
</plist>
