<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<true/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>eG1sLnps</data>
				<key>Replace</key>
				<data>em1sLnps</data>
				<key>Comment</key>
				<string>AppleHDA-Resources-xml&gt;zml-(cloverALC-all_codecs)</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>hQjsEA==</data>
				<key>Comment</key>
				<string>10.8-10.13-AppleHDA-Realtek-ALC885-(Optional)</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>hwjsEA==</data>
				<key>Comment</key>
				<string>10.8-10.13-AppleHDA-Realtek-ALC887</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>iAjsEA==</data>
				<key>Comment</key>
				<string>10.8-10.13-AppleHDA-Realtek-ALC888</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>iQjsEA==</data>
				<key>Comment</key>
				<string>10.8-10.13-AppleHDA-Realtek-ALC889</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>kgjsEA==</data>
				<key>Comment</key>
				<string>10.8-10.13-AppleHDA-Realtek-ALC892</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>mQjsEA==</data>
				<key>Comment</key>
				<string>10.8-10.13-AppleHDA-Realtek-ALC898</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>AAnsEA==</data>
				<key>Comment</key>
				<string>10.8-10.13-AppleHDA-Realtek-ALC1150</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>YgLsEA==</data>
				<key>Replace</key>
				<data>aQLsEA==</data>
				<key>Comment</key>
				<string>10.8-10.13-AppleHDA-Realtek-ALC269</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>YgLsEA==</data>
				<key>Replace</key>
				<data>gwLsEA==</data>
				<key>Comment</key>
				<string>10.8-10.13-AppleHDA-Realtek-ALC283</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>gxnUEQ==</data>
				<key>Replace</key>
				<data>AAAAAA==</data>
				<key>Comment</key>
				<string>10.11-AppleHDA-Realtek-ALC...(cloverALC-all_codecs)</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDAController</string>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>Replace</key>
				<data>PQwMAAA=</data>
				<key>Comment</key>
				<string>HD4600_HDMI_Audio-2of2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDAController</string>
				<key>Find</key>
				<data>PQsMAAA=</data>
				<key>Replace</key>
				<data>PQwMAAA=</data>
				<key>Comment</key>
				<string>HD4600_HDMI_Audio-1of2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ihnUEQ==</data>
				<key>Replace</key>
				<data>AAAAAA==</data>
				<key>Comment</key>
				<string>10.12-10.13-AppleHDA-Realtek-ALC...(cloverALC-all_codecs)</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>ZwjsEA==</data>
				<key>Comment</key>
				<string>10.12-AppleHDA-Realtek-ALC891</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>aBHsEA==</data>
				<key>Comment</key>
				<string>10.12-10.13-AppleHDA-Realtek-ALC1220A</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>IBLsEA==</data>
				<key>Comment</key>
				<string>10.12-10.13-AppleHDA-Realtek-ALC1220</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDAController</string>
				<key>Find</key>
				<data>PXCh</data>
				<key>Replace</key>
				<data>PfCi</data>
				<key>Comment</key>
				<string>10.12-10.13-200-300-X299_Series_ Audio_Controller</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>QcYGAEiLu2g=</data>
				<key>Replace</key>
				<data>QcYGAUiLu2g=</data>
				<key>Comment</key>
				<string>AppleHDA-anti-pop-#1-all codecs-(Sergey_Galan-AppleALC)</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Find</key>
				<data>QcaGQwEAAAA=</data>
				<key>Replace</key>
				<data>QcaGQwEAAAE=</data>
				<key>Comment</key>
				<string>AppleHDA-anti-pop-#2-all codecs-(Sergey_Galan-AppleALC)</string>
			</dict>
		</array>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>100/200/300-Series-Rename HDAS to HDEF</string>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>X299-Rename CAVS to HDEF</string>
					<key>Find</key>
					<data>Q0FWUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>X99-Rename ALZA to HDEF</string>
					<key>Find</key>
					<data>QUxaQQ==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Legacy/Azalia - Rename AZAL to HDEF</string>
					<key>Find</key>
					<data>QVpBTA==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
			</array>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PStates</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>No</string>
		<key>Secure</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>1</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Trust</key>
		<false/>
	</dict>
</dict>
</plist>
