<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>100series-Rename HDAS to HDEF</string>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PStates</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>No</string>
		<key>Secure</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>1</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<true/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>eG1sLnps</data>
				<key>Replace</key>
				<data>em1sLnps</data>
				<key>Comment</key>
				<string>AppleHDA/Resources/xml&gt;zml</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>hQjsEA==</data>
				<key>Comment</key>
				<string>110.9-10.12-AppleHDA/Realtek ALC885 (Optional)</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>hwjsEA==</data>
				<key>Comment</key>
				<string>10.9-10.12-AppleHDA/Realtek ALC887</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>iAjsEA==</data>
				<key>Comment</key>
				<string>10.9-10.12-AppleHDA/Realtek ALC888</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>iQjsEA==</data>
				<key>Comment</key>
				<string>10.9-10.12-AppleHDA/Realtek ALC889</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>kgjsEA==</data>
				<key>Comment</key>
				<string>10.9-10.12-AppleHDA/Realtek ALC892</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>mQjsEA==</data>
				<key>Comment</key>
				<string>10.9-10.12-AppleHDA/Realtek ALC898</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>AAnsEA==</data>
				<key>Comment</key>
				<string>10.9-10.12-AppleHDA/Realtek ALC1150</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>YgLsEA==</data>
				<key>Replace</key>
				<data>aQLsEA==</data>
				<key>Comment</key>
				<string>10.9-10.12-AppleHDA/Realtek ALC269</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>YgLsEA==</data>
				<key>Replace</key>
				<data>gwLsEA==</data>
				<key>Comment</key>
				<string>110.9-10.12-AppleHDA/Realtek ALC283</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>gxnUEQ==</data>
				<key>Replace</key>
				<data>AAAAAA==</data>
				<key>Comment</key>
				<string>10.11-AppleHDA/Realtek ALC...</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Find</key>
				<data>PQsMAAA=</data>
				<key>Replace</key>
				<data>PQwMAAA=</data>
				<key>Comment</key>
				<string>HD4600_HDMI_Audio-1of2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>Replace</key>
				<data>PQwMAAA=</data>
				<key>Comment</key>
				<string>HD4600_HDMI_Audio-2of2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>ihnUEQ==</data>
				<key>Replace</key>
				<data>AAAAAA==</data>
				<key>Comment</key>
				<string>10.12-AppleHDA/Realtek ALC...</string>
			</dict>
		</array>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Trust</key>
		<false/>
	</dict>
</dict>
</plist>
